.Footer-outer-container{
  color: #757575;
  display: flex;
  justify-content: center;
}

.Footer-inner-container{
  
    display: flex;
    flex-direction: column;    
    align-items:flex-start;
   width: 65vw;
    
}

ul{
    list-style: none;
}
.footer-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-data ul li{
    margin-bottom: 10px;
}

.footer-icon {
   margin-left: 5px;
   color: white;
   display: flex;
   justify-content: space-between;
   gap: 25px;
}

.service-code {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #757575;
    border: 1px solid #fff;
    width: 12%;
    margin: 10px 0 10px 0px;
    cursor: pointer;
    height: 10%;
}
.copy-write{
  font-size: 12px;
  margin: 0 0 10px 0px;
}